{{ template "head" . }}

<!-- Create dashboard using templates-->
<!--Nav_elements-->
<ul class=nav>
  <h4 style="margin:0;">
    
  <img style="padding-top:7px; padding-bottom:7px; padding-right: 10px; 
              padding-left:20px; float:left;" src="https://gscapts.com/assets/images/logo.svg" alt="gsc_img">
              <!--dropdown btn-->
  <li class="dropdown" style="float:right;">
    <a href="javascript:void(0)" class="dropbtn">\\//</a>
    <div class="dropdown-content">
      <a class=nav href="{{.link}}">Log out</a>
    </div>
   <li class=nav style="float:right;padding:14px;"> {{.user}}</li>
   <li class=nav style="float:left;padding:14px;"> ChatGSC</li>
  </h4>
</ul>
 <div class= row>
 </div>
<!--_______________________________________________________________________-->


  <!--text input-->
  <ul style="text-align: center; list-style-type: none;">
    <li style="text-align: center;">
      <!--add target to main and a hx-target-->
      <form id="chat_box" hx-post="/query" hx-target="#que" hx-swap="beforeend"
       hx-put="/" hx-on::after-request="this.reset()" autocomplete="off"
       hx-trigger="submit throttle:2s" > 
        <input type="text" name="user_txt" placeholder="Message ChatGSC..." value="">
        <input type="submit" name="sub_txt" value="//\\">
    </li>
      </form>
  </ul>


  
  <!--Main / body-->
  <div>
    <ul id="que" style="text-align: center;list-style-type: none;">
    </li>
    </ul>
  </div>

{{ template "foot" }}