{{ template "head" . }}

<!-- Create dashboard using templates-->
<!--Nav_elements-->
<h1 style="text-align: center;">
  ChatGSC
</h1>
<h2 style="text-align: right;">
  <a href="{{.link}}">Log out</a>
</h2>

  <!--_______________________________________________________________________-->
  <!--text input-->
  <ul style="text-align: center; list-style-type: none;">
    <li style="text-align: center;">
      <!--add target to main and a hx-target-->
      <form id="chat_box" hx-post="/query" hx-target="#que" hx-swap="beforeend"
       hx-put="/" hx-on::after-request="this.reset()" autocomplete="off"
       hx-trigger="submit throttle:2s" > 
        <input type="text" name="user_txt" placeholder="Message ChatGSC..." value="">
        <input type="submit" name="sub_txt" value="//\\">
    </li>
      </form>
  </ul>


  
  <!--Main / body-->
  <div>
    <ul id="que" style="text-align: center;list-style-type: none;">
    </li>
    </ul>
  </div>

{{ template "foot" }}